.center-board {
    text-align: center;
  }
  
  .Board-header {
    background: linear-gradient(320deg, rgb(199, 231, 255),rgb(199, 231, 255),rgb(255, 255, 255));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(0, 0, 0, 0.75);
    
  }
  
  .cellInput {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
  }
  
  .board-row {
    display: flex;
  }
  
  table {
    border-collapse: collapse;
    border: 3px solid;
    color: black;
    margin: auto;
    
  }
  
  td {
    padding: 0;
  }
  
  .buttonContainer {
    margin-top: 10px;
  }

  .mistakeCounter {
    margin-bottom: 30px;
  }

  .incorrect{
    color: red;
  }

  .correct{
    color: black;
  }

  .checkButton {
    background-color: aquamarine;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium;
  }
  .solveButton {
    background-color: rgb(47, 194, 61);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium
  }
  .resetButton {
    background-color: rgb(63, 153, 123);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium
  }
  .checkButton:hover {
    background-color: rgb(107, 214, 178);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium;
  }
  .solveButton:hover {
    background-color: rgb(40, 165, 52);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium
  }
  .resetButton:hover {
    background-color: rgb(53, 129, 104);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: medium
  }
  .bBorder {
    border-bottom: 2px solid black;
    
  }
  
  .rBorder {
    border-right: 2px solid black;
  }
  