.center-board {
  text-align: center;
}

.Board-header {
  background-color: rgb(242, 148, 247);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0px;
  border: 1px solid black;
}

.board-row {
  display: flex;
}

table {
  border-collapse: collapse;
  border: 3px solid;
  background-color: rgb(229, 180, 225);
  margin: auto;
}

td {
  padding: 0;
}

.buttonContainer {
  margin-top: 10px;
}

.checkButton {
  background-color: aquamarine;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: medium;
}
.solveButton {
  background-color: rgb(47, 194, 61);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: medium
}
.resetButton {
  background-color: rgb(63, 153, 123);
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: medium
}

.bBorder {
  border-bottom: 2px solid black;
}

.rBorder {
  border-right: 2px solid black;
}
